* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #131a22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* BOX 1 */
.logo {
  background-image: url("img/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* BOX 2 */
.nav-address {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.add-one {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* BOX 3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-radius: 4px 0 0 4px;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border: 0 4px 4px 0;
  color: black;
}

.search-icon:hover {
  cursor: pointer;
  background-color: #f5ad50;
}

/* BOX 4 & 5*/
span {
  font-size: 0.7rem;
}

.nav-signin {
  cursor: pointer;
  padding: 10px;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-returns {
  padding: 10px;
  cursor: pointer;
}

/* BOX 6 */
.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

/* panel */
.panel {
  height: 40px;
  width: 100%;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-all {
  cursor: pointer;
  padding: 10px;
  display: flex;
  gap: 5px;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px;
}

.panel-ops p:hover {
  border: 1.5px solid white;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

/* HERO-SECTION */
.hero-section {
  background-image: url("img/hero_image.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}

.hero-msg a {
  text-decoration: none;
  color: #007185;
}

.hero-msg a:hover {
  color: rgb(238, 86, 30);
  text-decoration: underline;
}

/* Shop Section */
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0 15px;
  margin-top: 20px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.box-content {
  margin: 0 1rem;
}

.box-content p {
  color: #007185;
  width: fit-content;
}

.box-content p:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}

.separate {
  height: 20px;
  background-color: #e2e7e6;
}

/* Footer Section */
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}

.foot-panel1:hover {
  cursor: pointer;
  background-color: #4e5661;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

.foot-panel2 a {
  width: fit-content;
}

.foot-panel2 a:hover {
  text-decoration: underline;
}

ul {
  margin-top: 20px;
  list-style-type: none;
}

ul p {
  font-weight: bold;
}

ul a {
  display: block;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #dddddd;
  text-decoration: none;
}

.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("img/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #131a22;
  color: white;
  height: 80px;
  font-size: 0.8rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.pages a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
}

.pages a:hover {
  text-decoration: underline;
}

.copyright {
  padding-top: 5px;
}

.copyright:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .navbar p {
    font-size: 0.8rem;
  }

  .nav-address,
  .nav-signin,
  .nav-returns {
    padding: 5px 8px;
  }

  .hero-msg {
    width: 90%;
  }

  .box {
    width: 24%;
  }

  .box-img {
    background-position: center;
  }

  .box-content {
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .nav-search {
    width: 500px;
  }

  .nav-cart {
    font-size: 0.8rem;
  }
  .panel-ops {
    width: 60%;
  }
  .panel-ops p {
    padding: 0;
  }

  .hero-msg {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 32%;
  }
}

@media (max-width: 430px) {
  * {
    font-size: 0.7rem;
  }
  .navbar {
    height: 30px;
  }
  .nav-logo {
    height: 40px;
    width: 50px;
  }
  .logo {
    height: 30px;
    width: 50px;
  }
  .nav-address {
    padding: 2px 4px;
  }
  .add-one {
    margin-left: 8px;
  }
  .navbar p {
    font-size: 0.7rem;
  }
  .nav-search {
    height: 20px;
  }
  span,
  .nav-second {
    font-size: 0.6rem;
  }
  .nav-signin {
    padding: 0px 4px;
    width: 130px;
    height: 25px;
  }
  .nav-returns {
    padding: 0px 4px;
    width: 90px;
  }
  .nav-cart i {
    font-size: 18px;
  }
  .nav-cart {
    padding: 4px;
  }
  .panel {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel-all {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .panel-ops {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel-ops p {
    margin-left: 10px;
  }
  .panel-deals {
    padding: 3px;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
  }
  .hero-section {
    height: 150px;
  }
  .hero-msg {
    max-height: 30px;
    min-width: min-content;
    padding: 1px 1px 3px 3px;
    margin-bottom: 15px;
    font-size: 0.75rem;
  }

  .box {
    height: 225px;
    width: 31%;
    padding: 10px 0 5px;
    margin-top: 15px;
  }
  .box h2 {
    font-size: 0.9rem;
  }
  .box-img {
    height: 180px;
  }
  .foot-panel1 {
    height: 35px;
    font-size: 0.75rem;
  }
  .foot-panel2 {
    height: 190px;
  }
  ul {
    margin-top: 15px;
    padding-left: 15px;
  }
  ul a {
    margin-top: 5px;
  }
  .foot-panel3 {
    height: 40px;
  }
  .foot-panel4 {
    height: 50px;
  }
  .pages {
    padding-top: 15px;
  }
}

@media (max-width: 375px) {
  .search-input {
    font-size: 0.7rem;
  }
  .search-select {
    width: 40px;
    font-size: 0.65rem;
  }
  .search-icon {
    width: 35px;
  }
  .nav-signin {
    width: 140px;
  }
  .panel-ops {
    width: 65%;
  }
  .panel-all {
    padding-left: 3px;
  }
  .panel-ops p {
    margin-left: 8px;
  }
  .hero-msg {
    height: 20px;
    font-size: 0.6rem;
  }
  .box {
    height: 235px;
  }
}

@media (max-width: 320px) {
  * {
    font-size: 0.6rem;
  }
  .search-select {
    font-size: 0.5rem;
    width: 35px;
  }
  .search-input {
    font-size: 0.55rem;
  }
  .nav-signin {
    width: 155px;
  }
  .nav-cart i {
    font-size: 15px;
  }
  .panel-all {
    font-size: 0.5rem;
  }
  .hero-section {
    height: 125px;
  }
  .hero-msg {
    height: 15px;
  }
  .box {
    height: 200px;
  }
  .box-img {
    height: 150px;
  }
  .foot-panel1 {
    height: 25px;
  }
  .foot-panel2 p,
  ul a {
    font-size: 0.8rem;
  }
  ul {
    margin-top: 10px;
  }
  .foot-panel2 {
    height: 170px;
  }
  .foot-panel3 {
    height: 26px;
  }
  .foot-panel4 {
    height: 40px;
  }
  .pages {
    padding-top: 10px;
  }
}
